#main {
    font-size: 0;
    height: 1080px;
    width: 1026px;
    position: absolute;
    left: calc(50% - 1026px/2);
    overflow: hidden;
}

.pp {
    height: 155px;
    width: 1026px;
    text-align: center;
    font-size: 81px;
}

#tabList {
    border-radius: 13px 13px 0 0;
    width: 1026px;
    height: 69px;
    background-color: rgb(133, 133, 133);
}

#list {
    width: 1026px;
    height: 856px;
}

#input {
    width: 1026px;
    height: 135px;
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-orient: vertical;
    -moz-box-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: box;
    box-orient: vertical;
    box-pack: center;
    box-align: center;
    box-align: center;
}

.input_1 {
    padding: 10px 25px;
    outline-style: none;
    font-size: 25px;
    width: 778px;
    height: 81px;
    border-radius: 13px;
    border: none;
}

.input_2 {
    font-size: 25px;
    width: 778px;
    height: 81px;
    outline-style: none;
    line-height: 0;
    border: none;
}

button {
    outline: none;
}

.bu {
    box-shadow: 2px 2px rgb(131, 131, 131);
}

li {
    display: block;
    float: left;
    width: 207px;
    height: 69px;
    font-size: 41px;
    text-align: center;
}

.onclick {
    border-radius: 13px 13px 0 0;
    background-color: #B5B5B5;
    box-shadow: 1px 0 0px black;
}

.new {
    background-color: #B5B5B5;
    width: 1026px;
    height: 856px;
}

#do {
    width: 1026px;
    height: 582px;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    display: box;
    box-orient: vertical;
    box-align: center;
}

.clear {
    width: 1026px;
    height: 139px;
    background-color: #B5B5B5;
}

.c_add {
    border: none;
    width: 109px;
    height: 54px;
    position: relative;
    top: calc(50% - 54px/2);
    left: calc(94% - 109px/2);
    border-radius: 27px;
    font-size: 31px;
}

#done {
    width: 1026px;
    height: 717px;
    background-color: #B5B5B5;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    display: box;
    box-orient: vertical;
    box-align: center;
}

#done::-webkit-scrollbar {
    display: none;
}

.works {
    margin: 3px;
    background-color: white;
    padding: 10px 25px;
    font-size: 25px;
    width: 778px;
    height: 81px;
    border-radius: 13px;
    top: 1px;
}

#do {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#do::-webkit-scrollbar {
    display: none;
}

.icon {
    font-size: 0px;
    height: 81px;
    width: 27px;
    float: right;
}

.items {
    overflow: hidden;
    height: 81px;
    width: 680px;
    float: left;
}

img {
    height: 27px;
    width: 27px;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

img:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.compiling {
    border: 5px solid blue;
}